{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual_IdCard</title>
    <link rel="stylesheet" href="{% static 'assets\css\style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    
</head>
<body>
    
    <div class="container">
        
        <div class="row card-apt">
            <div class="col">
                <div class="card-wrapper">
                <div class="card ver">
                    <div class="logo-card">
                        <img src="{% static 'assets/images/Aptlogo.png' %}" class="img-fluid logo" alt="LOgo">
                    </div>
                    <div class="pro-img">
                        <img src="{{allPosts.img.url}}" class="card-img img-pro" alt="No_image">
                    </div>
                    <div class="card-content">
                        <div class="card-details">
                            <p class="details">
                               Name : {{allPosts.Name}}
                            </p>
                            <p class="details">
                              Emp_Id : {{allPosts.Emp_id}}
                            </p>
                            <p class="details">
                               Contact : {{allPosts.Contact}}
                            </p>
                            <p class="details">
                                Designation : {{allPosts.Designation}}
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>